.ipynb_checkpoints/RAG_Eval-checkpoint.ipynb

*.pyc
.env
.ipynb_checkpoints/DB-checkpoint.py
.ipynb_checkpoints/LLM-checkpoint.py

.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/parser-checkpoint.py
.ipynb_checkpoints/evaluation-checkpoint.py
